.navigation {
  position: relative;
  top: 116px;
  border-top: 1px  solid gray;
  border-bottom: 1px  solid gray;
}

.navigation .breadcrumb {
  width: 80%;
  margin: 0 auto;
  background-color: white;
}

.navigation .breadcrumb a {
  color: #797979;
  margin-right: 20px;
}

.navigation .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  margin-right: 20px;
}
