* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 200px;
    height: 300px;
    border: 1px solid red;
    margin-left: 100px;
    margin-top: 50px;
}

.goodsType {
    width: 100%;
    height: 60px;
    border: 1px solid blue;
    background: url(../image/bg-index-sort-v211.png) no-repeat 0px 0px/cover;
    line-height: 60px;
    box-sizing: border-box;
}

.item {
    width: 100%;
    height: 240px;
    border: 1px solid green;
    position: relative;
}

.item ul {
    list-style: none;
}

.item ul li {
    height: 30px;
    border: 1px solid purple;
}

.list-name {
    float: left;
}

.concert,.arrow {
    width: 30px;
    height: 30px;
    border: 1px solid green;
}

.arrow {
    float: right;
}

.item-name {
    width: 110px;
    height: 30px;
    text-align: center;
}

.item-name a {
    line-height: 30px;
    text-decoration: none;
}

.icon {
    background-image: url(../image/ico-index-sort.png);
    background-repeat: no-repeat;
}

.arrow {
    background-image: url(../image/bg-index-sort-v211.png);
    background-position: 5px -85px;
}

.concert {
    background-position: 0px 0px;
}

.hiddenList {
    width: 100px;
    height: 150px;
    border: 1px solid blue;
    position: absolute;
    left: 165px;
    top: 0px;
}


.hiddenList ul li {
    height: 30px;
}

.hiddenList .arrow {
    height: 30px;
    width: 30px;
    float: left;
}

.hiddenList .arrow:hover {
    background-position: 5px -122px;
    background-repeat: no-repeat;
}