
.container {
    width: 100vw;
    margin-top: 0.2rem;

    .movieList {
        width: 85%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;

        .list {
            width: 100%;
            height: 2.5rem;
            display: flex;
            margin-top: 0.3rem;

            &:first-child {
                margin: 0;
            }

            .picture {
                width: 1.5rem;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .filmInfo {
                flex-grow: 1;
                height: 100%;

                .details {
                    margin-left: 0.2rem;
                    
                    h6 {
                        font-size: 0.25rem;
                        margin-top: 0.1rem;
                    }

                    p {
                        margin-top: 0.1rem;
                        font-size: 0.2rem;

                        .head {
                            color: #959dad;
                        }

                        &:last-child {
                            margin-top: 0.35rem;

                            button {
                                display: block;
                                width: 1.5rem;
                                height: 0.5rem;
                                border-radius: 0.1rem;
                                background-color: #4074fe;
                                color: white;
                                border: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

header {
    .ribbon {
        .item {
            &:first-child {
                background-color: white;
                color: black;
            }
        }
    }
}