* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

 .filmDetail {
    width: 100vw;
    height: 2.5rem;
    
    .content {
        width: 85%;
        height: 100%;
        margin: 0 auto;
        background-color: white;
        overflow: hidden;
        // border-bottom: 0.02em dashed #ccd0d8;
        position: relative;

        .radius {
            width: 0.2rem;
            height: 0.2rem;
            position: absolute;
            background-color: #0b193e;
            bottom:0rem;
            z-index: 1;
        }

        .cro-left-bottom {
            border-radius: 0 0.2rem 0 0;
            left: 0rem;
        }

        .cro-right-bottom {
            border-radius: 0.2rem 0 0 0;
            right: 0rem;
        }

        .filmInfo {
            width: 85%;
            margin: 0 auto;
            height: 1.8rem;
            margin-top: 0.2rem;
            display: flex;
            line-height: 0.45rem;

            .image {
                width: 1rem;
                height: 100%;

                img {
                    border-radius: 0.1rem;
                    width: 100%;
                    height: 100%;
                }
            }

            p {
                margin-left: 0.2rem;
                font-size: 0.15rem;

                &:first-child {
                    margin-top: 0.2rem;
                    color: #4b7afe;
                }

                &:last-child {
                    color: #969cae;
                }
            }

            h6 {
                margin-left: 0.2rem;
                font-size: 0.3rem;
            }
        }
    }
 }

 .userInfo {
     width: 100vw;
     height: 3rem;
     box-sizing: border-box;

     .content {
         width: 85%;
         height: 100%;
         margin: 0 auto;
         position: relative;
         box-sizing: border-box;
         background-color: white;
         display: flex;
         border-bottom: 0.01rem dashed gray;

         .radius {
            width: 0.2rem;
            height: 0.2rem;
            position: absolute;
            background-color: #0b193e;
            top:0rem;
            z-index: 1; 
            box-sizing: border-box;
            border-radius: 0 0 0.2rem 0;
         }

         .radius.cro-right-top {
            right: 0;
            border-radius: 0 0 0 0.2rem;  
         }
        
         .detail {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .item {
                width: 100%;
                height: 1rem;
                line-height: 0.4rem;
                margin-left: 0.5rem;
                p {
                    font-size: 0.2rem;
                    margin-top: 0.2rem;
                }

                h6 {
                    font-size: 0.25rem;
                }

                .seat-code {
                    display: flex;

                    .icon {
                        width: 0.3rem;
                        height: 0.3rem;
                        margin-right: 0.05rem;
                        background-color: #4b7afe;
                        font-size: 0.2rem;
                        text-align: center;
                        line-height: 0.3rem;
                        color: white;
                        border-radius: 0.06rem;
                    }
                }
            }

            &:last-child {

                p {
                    margin-left: 1.2rem;
                }

                h6 {
                    margin-left: 1.2rem;    
                }
            }
         }
     }
 }

 .ticket {
     width: 100vw;
     height: 2rem;

     .content {
         width: 85%;
         height: 100%;
         margin: 0 auto;
         background-color: white;
         border-radius: 0 0 0.2rem 0.2rem;
         display: flex;
         justify-content: space-between;

         .item {
             width: 50%;
             height: 100%;

             h6 {
                 margin-left: 0.5rem;
                 margin-top: 0.2rem;
                 font-size: 0.25rem;
                 font-weight: normal;
             }

             p {
                 margin: 0.5rem;
                 font-weight: bold;
                 font-size: 0.3rem;
             }

             .QRCode {
                 width: 1rem;
                 height: 1rem;
                 margin-top: 0.2rem;
                 margin-left: 1.7rem;
                 background: url(../image/二维码.png) no-repeat center/cover;
             }

             &:last-child h6{
                margin-left: 1.7rem;
            }
         }
     }
 }

 .button {
     margin-top: 0.5rem;
     width: 100vw;
     height: 0.75rem;

     button {
         display: block;
         width: 85%;
         height: 100%;
         border: none;
         font-weight: bold;
         font-size: 0.25rem;
         border-radius: 0.1rem;
         background-color: #4b7afe;
         margin: 0 auto;
         
         a {
            color: white;
         }
     }
 }