* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    width: 100vw;
    height: 2rem;
    background-color: #0A193F;
    position: relative;

    .image {
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        right: 0;
        top: 0;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .arrow {
        width: .5rem;
        height: .5rem;
        position: absolute;
        left: 7%;
        top: .7rem;
        background-image: url(../image/雪碧图.png);
        background-position: -2.9rem -.05rem;
        background-repeat: no-repeat;
        background-size: 1000%;
    }

    .login {
        position: absolute;
        left: 7.7%;
        top: 1.2rem;
        font-size: .25rem;
        color: white;
        text-align: center;
        line-height: 0.5rem;
    }
}

main {
    line-height: 0rem;
    width: 85vw;
    height: 7rem;
    // background-color: re
    position: relative;
    margin: 0 auto;

    p {
        &:first-child {
            margin-top: .5rem;
            font-size: 0.3rem;
        }
    }

    input {
        display: inline-block;
        width: 100%;
        height: .8rem;
        border-radius: .1rem;
        margin-top: 0.5rem;
    }

    .forget a {
        color: red;
        position: absolute;
        top: 2.35rem;
        right: 0;
    }

    button {
        display: inline-block;
        width: 100%;
        height: .8rem;
        border-radius: .1rem;
        text-align: center;
        background-color: #4073FF;
        font-size: .25rem;
        color: white;
        margin-top: 0.15rem;
        border: none;
    }

    .regist {
        width: 100%;
        height: .8rem;
        text-align: center;
    }

    .password {
        .icon {
            width: .5rem;
            height: .5rem;
            position: absolute;
            right: 0;
            bottom: 3.75rem;
            background-image: url(../image/雪碧图.png);
            background-position: -6.3rem -0.92rem;
            background-size: 8rem 2.3rem;
        }
    }

  .rePassword {
    .icon-rePassword {
        width: .5rem;
        height: .5rem;
        position: absolute;
        right: 0;
        bottom: 1.65rem;
        background-image: url(../image/雪碧图.png);
        background-position: -6.3rem -0.92rem;
        background-size: 8rem 2.3rem;
    }
  }
}