* {
    margin: 0;
    padding: 0;
}

header {
    .ribbon {
        .item {
            &:last-child {
                background-color: white;
                
                a {
                    color: black;
                }
            }

            &:first-child {
                background-color: #233052;
            }
        }
    }
}