.content {
    height: 551px;
    .detail {
        width: 100%;
        height: 500px;
        h1 {
            margin-top: 20px;
        }
        p {
            margin-top: 20px;;
        }
        .main {
            width: 100%;
            margin-top: 50px;
            .pictures {
                width: 100%;
                height: 342px;
                display: flex;
                justify-content: space-evenly;
                .picture {
                    width: 300px;
                    height: 100%;
                    .image {
                        width: 100%;
                        height: 200px;
                    }
                    .image-1 {
                        background: url(../image/s-1.jpg) no-repeat center/cover;
                    }
                    .image-2 {
                        background: url(../image/s-2.jpg) no-repeat center/cover;
                    }
                    .image-3 {
                        background: url(../image/s-3.jpg) no-repeat center/cover;
                    }
                    h5 {
                        margin-top: 10px;
                        width: 100%;
                        line-height: 20px;
                        font-weight: 600;
                        font-size: 20px;
                        text-align: center;
                    }
                    p {
                        margin-top: 10px;
                        font-size: 14px;
                        color: #7b7b7b;
                        font-weight: 300;
                        line-height: 2em;
                    }
                }
            }
        }
       
    }
}
