

.content .designer {
    width: 100%;
    height: 450px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 30px;
}

.content .designer .list{
    width: 350px;
    height: 450px;
    box-sizing: border-box;
}

.content .designer .photo {
    width: 100%;
    height: 225px;
    text-align: center;
}

.content .designer .photo img {
    height: 100%;
    border-radius: 50%;
}

.content .designer .designerName {
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.content .designer p {
    font-size: 12px;
    color: #898987;
    line-height: 20px;
}

.content h2 {
    color: #C7AB84;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}

.content .foot {
    width: 100%;
    height: 285px;
    margin-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    color: #898987;
}

.content .foot .info {
    width: 770px;
    height: 285px;
}

// 轮播图

.content .foot .picture {
    width: 430px;
    height: 285px;
    overflow: hidden;
}

.content .foot .picture .photoList {
    width: 1720px;
    height: 285px;
    display: flex;
    animation: carousel 10s linear infinite;
}

.content .foot .picture .photoList img {
    width: 430px;
    height: 285px;
}

// 轮播图实现
@keyframes carousel {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-430px);     
    }
    30% {
        transform: translateX(-430px);
    }
    55% {
        transform: translateX(-860px);      
    }

    60% {
        transform: translateX(-860px);
    }
    85% {
        transform: translateX(-1290px);
    }

    100% {
        transform: translateX(-1290px);  
    }
}

// 推荐部分
.recommend {
    width: 100%;
    height: 300px;
    margin-top: 30px;
    background-color: #FFDFC9;
    display: flex;
    justify-content: center;
}



.recommend .content {
    width: 1200px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recommend .content .title {
    width: 100%;
    height: 50px;
    color: black;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    line-height: 50px;
    background-color: #FFDFC9;
}

.recommend .content .recommend-list {
    width: 350px;
    height: 150px;
    border: 1px dashed #EAB69C;
    box-sizing: border-box;
}

.recommend .content .recommend-list .person {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.recommend .content .recommend-list .info {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 20px;
    font-size: 10px;
    text-align: center;
    line-height: 25px;
    color: #7B7B78;
}