* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header {
    height: 50px;
    transition: 3s;
    background-color: #3970A7;
}

.header {
    width: 100%;
    height: 50px;
    background-color: #459DF5;
}

nav {
    width: 900px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    color: white;
}

.wrap {
    width: 120px;
    line-height: 50px;
    text-align: center;
}

.wrap .title {
    box-sizing: border-box;
}

.list {
    width: 100%;
    height: 0px;
    color: white;
    overflow: hidden;
}

.content {
    width: 100%;
    height: 0;
}

.wrap:hover {
    background-color: rgba(92, 92, 136, 0.5);
}

header:hover .list {
    height: 200px;
    transition: 3s;
}

header:hover {
    height: 300px;
}