@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

header {
  width: 100vw;
  height: 3rem;
  background: url(../image/图层8.png) no-repeat center/cover;
  position: relative;
}

header .arrow {
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  left: 0.5rem;
  top: 1rem;
  background-image: url(../image/雪碧图.png);
  background-size: 8rem 2.3rem;
  background-position: -4.75rem -0.25rem;
}

.detail {
  width: 100vw;
  margin-top: 0.2rem;
}

.detail .content {
  width: 85%;
  margin: 0 auto;
}

.detail .content h6 {
  font-size: 0.25rem;
}

.detail .content p {
  font-size: 0.2rem;
  margin-top: 0.2rem;
}

.detail .content .introduce {
  width: 100%;
  height: 1rem;
  display: flex;
  margin-top: 0.5rem;
}

.detail .content .introduce .item {
  width: 30%;
  margin-right: 0.3rem;
}

.detail .content .introduce .item:last-child .min-item h6 {
  line-height: 0.6rem;
}

.detail .content .introduce .item .min-item {
  display: flex;
  width: 100%;
  height: 0.5rem;
  box-sizing: border-box;
}

.detail .content .introduce .item .min-item .icon {
  width: 0.5rem;
  height: 0.5rem;
  background-image: url(../image/雪碧图.png);
  background-size: 8rem 2.3rem;
}

.detail .content .introduce .item .min-item .position {
  background-position: -3.9rem -1rem;
}

.detail .content .introduce .item .min-item .money-blue {
  background-color: #396DFF;
}

.detail .content .introduce .item .min-item .money {
  width: .3rem;
  height: .3rem;
  margin-right: 0.1rem;
  background-image: none;
  border-radius: 50%;
  font-size: 0.25rem;
  text-align: center;
  line-height: 0.3rem;
  color: white;
  margin-top: 0.1rem;
}

.detail .content .introduce .item .min-item .money-gray {
  background-color: #B0B4BF;
}

.detail .content .introduce .item .min-item h6 {
  font-size: 0.25rem;
  line-height: 0.5rem;
}

.detail .content .introduce .item .min-item .collect {
  background-position: -7.09rem -0.9rem;
}

.detail .content .introduce .item p {
  font-size: 0.2rem;
  color: #979DAC;
}

.title {
  width: 85%;
  margin: 0 auto;
  margin-top: 0.3rem;
}

.title h6 {
  font-size: 0.25rem;
}

.container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.container .movieList {
  width: 85%;
  margin: 0 auto;
  display: flex;
  margin-top: 0.5rem;
}

.container .movieList:first-child {
  margin-top: 0.2rem;
}

.container .movieList .picture {
  width: 2rem;
  height: 3rem;
}

.container .movieList .picture img {
  width: 100%;
  height: 100%;
}

.container .movieList .filmInfo {
  flex-grow: 1;
}

.container .movieList .filmInfo h5 {
  font-size: 0.3rem;
  margin-top: 0.3rem;
}

.container .movieList .filmInfo p {
  font-size: 0.2rem;
  color: #0031FF;
  margin-top: 0.2rem;
}

.container .movieList .filmInfo h6 {
  font-size: 0.2rem;
  color: #858C9F;
  margin-top: 0.4rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container .movieList .filmInfo h5, .container .movieList .filmInfo h6, .container .movieList .filmInfo p {
  margin-left: 0.2rem;
}

.container .movieList .filmInfo .showTime {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0.2rem;
  width: 3rem;
}

.container .movieList .filmInfo .showTime .timeList {
  width: 0.9rem;
  box-sizing: border-box;
  height: 0.4rem;
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  border: 1px solid #C7D8FE;
  border-radius: 0.1rem;
  text-align: center;
  line-height: 0.4rem;
  font-size: 0.2rem;
  font-weight: bold;
}
