main {
  position: relative;
  top: 100px;
  padding-bottom: 100px;
}

main .banner {
  width: 100%;
  height: 530px;
  background: url(../image/banner1.jpg) no-repeat;
  background-size: 100%;
}

main nav {
  margin-left: 18%;
  margin-top: -40px;
  width: 80%;
}

main nav .center {
  border: 10px solid white;
  border-bottom: 1px solid black;
  background-color: white;
  width: 53%;
  height: 280px;
  display: flex;
  justify-content: space-around;
  margin-left: 15%;
  overflow: hidden;
}

main nav .center [class*=box] {
  display: block;
  width: 200px;
  height: 300px;
  transform: scale(1);
  transition: 1s;
  margin: 5px 10px;
}

main nav .center .box:first-child {
  background: url(../image/i1.jpg) no-repeat;
  background-size: 200px;
}

main nav .center .box:first-child:hover {
  transform: scale(1.1);
}

main nav .center .box:nth-child(2) {
  background: url(../image/i2.jpg) no-repeat;
  background-size: 200px;
}

main nav .center .box:nth-child(2):hover {
  transform: scale(1.1);
}

main nav .center .box:last-child {
  background: url(../image/i3.jpg) no-repeat;
  background-size: 200px;
}

main nav .center .box:last-child:hover {
  transform: scale(1.1);
}

main nav .ih3 {
  border-top: 3px solid black;
  width: 60%;
  height: 60px;
  margin-left: 11%;
  margin-top: 1px;
  background: url(../image/ih3.jpg) no-repeat;
  background-size: 100%;
  background-position: 0px 25px;
}

main nav .bottom {
  width: 80%;
  height: 800px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

main nav .bottom p {
  font-size: 10px;
  text-align: center;
  margin-top: 5px;
}

main nav .bottom span {
  display: block;
  font-size: 10px;
  color: #d70000;
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
}

main nav .bottom .content {
  width: 21%;
}

main nav .bottom .content .box1 {
  background-color: rgba(0, 149, 255, 0.1);
  transform: translate(-210px, -200px);
  transition: .5s;
}

main nav .bottom .content .box2 {
  background-color: rgba(0, 149, 255, 0.1);
  margin-left: 210px;
  transition: .5s;
}

main nav .bottom [class*=box] {
  display: block;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

main nav .bottom [class*=box]:hover .box1 {
  transform: translate(0px, 0px);
}

main nav .bottom [class*=box]:hover .box2 {
  transform: translate(-210px, -200px);
}

main nav .bottom .content:first-child .box {
  background: url(../image/s7.jpg) no-repeat;
  background-size: 210px;
}

main nav .bottom .content:nth-child(2) .box {
  background: url(../image/s10.jpg) no-repeat;
  background-size: 210px;
}

main nav .bottom .content:nth-child(3) .box {
  background: url(../image/s4.jpg) no-repeat;
  background-size: 210px;
}

main nav .bottom .content:nth-child(4) .box {
  background: url(../image/s9.jpg) no-repeat;
  background-size: 210px;
}

main nav .bottom .content:nth-child(5) .box {
  background: url(../image/s6.jpg) no-repeat;
  background-size: 210px;
}

main nav .bottom .content:nth-child(6) .box {
  background: url(../image/s8.jpg) no-repeat;
  background-size: 210px;
}

main nav .bottom .content:nth-child(7) .box {
  background: url(../image/s12.jpg) no-repeat;
  background-size: 210px;
}

main nav .bottom .content:nth-child(8) .box {
  background: url(../image/s1.jpg) no-repeat;
  background-size: 210px;
}

main nav .bottom .content:nth-child(9) .box {
  background: url(../image/s5.jpg) no-repeat;
  background-size: 210px;
}

main nav .bottom .content:nth-child(10) .box {
  background: url(../image/s3.jpg) no-repeat;
  background-size: 210px;
}

main nav .bottom .content:nth-child(11) .box {
  background: url(../image/s2.jpg) no-repeat;
  background-size: 210px;
}

main nav .bottom .content:last-child .box {
  background: url(../image/s11.jpg) no-repeat;
  background-size: 210px;
}
