* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body main {
  width: 100%;
  position: relative;
  top: 100px;
  padding-bottom: 200px;
}

body main .main_top {
  width: 100%;
}

body main .main_top img {
  width: 100%;
}

body main .main_top div {
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}

body main .main_top div p {
  width: 80%;
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  color: gray;
}

body main .main_top div p a {
  margin-right: 20px;
  color: gray;
}

body main .main_top div p span {
  color: black;
  margin-left: 20px;
}

body main .main_bottom {
  width: 100%;
  font-size: 14px;
}

body main .main_bottom .big {
  width: 80%;
  margin: 0 auto;
}

body main .main_bottom .big [class*=box] {
  width: 100%;
}

body main .main_bottom .big [class*=box] .box_title {
  width: 80%;
  height: 120px;
  margin: 0 auto;
  line-height: 180px;
}

body main .main_bottom .big [class*=box] .box_title img {
  width: 100%;
}

body main .main_bottom .big [class*=box] .product {
  display: block;
  margin-top: 30px;
  color: black;
}

body main .main_bottom .big [class*=box] .product:hover .img img {
  transform: scale(1.2);
}

body main .main_bottom .big [class*=box] .product:hover .img::before {
  transform: scale(1);
}

body main .main_bottom .big [class*=box] .product:hover .img::after {
  top: 10px;
  left: 20px;
  transform: scale(1);
}

body main .main_bottom .big [class*=box] .product .img {
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: relative;
}

body main .main_bottom .big [class*=box] .product .img::before {
  content: "";
  display: block;
  width: 300px;
  height: 300px;
  border-left: 2px solid #28afea;
  border-top: 2px solid #28afea;
  position: absolute;
  top: 30px;
  left: 40px;
  transition: .7s;
  z-index: 1;
  transform: scale(0);
  transform-origin: top left;
}

body main .main_bottom .big [class*=box] .product .img::after {
  content: "";
  display: block;
  width: 300px;
  height: 300px;
  border-right: 2px solid #28afea;
  border-bottom: 2px solid #28afea;
  position: absolute;
  top: 10px;
  left: 20px;
  transition: .7s;
  z-index: 1;
  transform: scale(0);
  transform-origin: bottom right;
}

body main .main_bottom .big [class*=box] .product .img img {
  width: 100%;
  height: 100%;
  transition: .7s;
}

body main .main_bottom .big [class*=box] .product p {
  height: 30px;
  line-height: 30px;
}

body main .main_bottom .big [class*=box] .product p span {
  font-size: 18px;
  color: red;
}

body main .main_bottom .big .box1, body main .main_bottom .big .box2 {
  width: 100%;
}

body main .main_bottom .big .box1 .box_title, body main .main_bottom .big .box2 .box_title {
  width: 80%;
  height: 120px;
  margin: 0 auto;
  line-height: 180px;
}

body main .main_bottom .big .box1 .box_title img, body main .main_bottom .big .box2 .box_title img {
  width: 100%;
}

body main .main_bottom .big .box1 .pic, body main .main_bottom .big .box2 .pic {
  width: 100%;
}

body main .main_bottom .big .box1 .pic .pic_top, body main .main_bottom .big .box2 .pic .pic_top {
  width: 100%;
  height: 550px;
  background: url(../image/temp/paint01.jpg) no-repeat center/cover;
}

body main .main_bottom .big .box1 .pic .pic_bottom, body main .main_bottom .big .box2 .pic .pic_bottom {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

body main .main_bottom .big .box1 .pic .pic_bottom .product, body main .main_bottom .big .box2 .pic .pic_bottom .product {
  width: 31%;
}

body main .main_bottom .big .box3 {
  width: 100%;
}

body main .main_bottom .big .box3 .box_title {
  width: 80%;
  height: 120px;
  margin: 0 auto;
  line-height: 180px;
}

body main .main_bottom .big .box3 .box_title img {
  width: 100%;
}

body main .main_bottom .big .box3 .pic {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

body main .main_bottom .big .box3 .pic .pic_left {
  width: 30%;
  height: 845px;
  background-image: url(../image/temp/sec301.jpg);
}

body main .main_bottom .big .box3 .pic .pic_right {
  width: 65.5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

body main .main_bottom .big .box3 .pic .pic_right .product {
  width: 45%;
  margin-top: 0;
  margin-bottom: 30px;
}

body main .main_bottom .big .box4 {
  width: 100%;
}

body main .main_bottom .big .box4 .pic {
  width: 100%;
}

body main .main_bottom .big .box4 .pic .pic_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

body main .main_bottom .big .box4 .pic .pic_top .one {
  width: 65.5%;
  height: 350px;
  background: url(../image/temp/sec401.jpg) no-repeat center/cover;
}

body main .main_bottom .big .box4 .pic .pic_top .two {
  width: 31%;
  height: 350px;
  background: url(../image/temp/sec402.jpg) no-repeat center/cover;
}

body main .main_bottom .big .box4 .pic .pic_bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

body main .main_bottom .big .box4 .pic .pic_bottom .product {
  width: 31%;
}
