* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body header {
  border-bottom: 1px solid #e0e0e0;
}

body main {
  width: 100%;
  position: relative;
  top: 100px;
  padding-bottom: 200px;
}

body main .main_top {
  width: 100%;
}

body main .main_top img {
  width: 100%;
}

body main .main_top div {
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}

body main .main_top div p {
  width: 80%;
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  color: gray;
}

body main .main_top div p a {
  margin-right: 20px;
  color: gray;
}

body main .main_top div p a:nth-child(2) {
  margin-left: 20px;
}

body main .main_top div p a:nth-child(3) {
  margin-left: 20px;
}

body main .main_top div p span {
  color: black;
  margin-left: 20px;
}

body main .main_bottom {
  width: 100%;
}

body main .main_bottom .big {
  width: 80%;
  margin: 30px auto;
}

body main .main_bottom .big .big_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

body main .main_bottom .big .big_top .detail_img {
  width: 40%;
}

body main .main_bottom .big .big_top .detail_img .xl_img {
  width: 460px;
  height: 460px;
}

body main .main_bottom .big .big_top .detail_img .xl_img img {
  width: 100%;
  height: 100%;
}

body main .main_bottom .big .big_top .detail_img .small_img {
  width: 100%;
  margin-top: 20px;
}

body main .main_bottom .big .big_top .detail_img .small_img ul {
  display: flex;
}

body main .main_bottom .big .big_top .detail_img .small_img ul li {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

body main .main_bottom .big .big_top .detail_img .small_img ul li:hover {
  box-shadow: 0 0 1px 1px red;
}

body main .main_bottom .big .big_top .detail_img .small_img ul li img {
  width: 100%;
  height: 100%;
}

body main .main_bottom .big .big_top .product_info {
  width: 55%;
}

body main .main_bottom .big .big_top .product_info > h3 {
  width: 100%;
  font-weight: 400;
  margin-top: 10px;
}

body main .main_bottom .big .big_top .product_info > p {
  width: 100%;
  font-size: 14px;
  color: #848484;
  margin: 20px 0;
}

body main .main_bottom .big .big_top .product_info h2 {
  width: 100%;
  height: 60px;
  font-weight: 400;
  color: #c20000;
  border-bottom: 1px solid #e0e0e0;
}

body main .main_bottom .big .big_top .product_info > ul {
  width: 100%;
  display: flex;
}

body main .main_bottom .big .big_top .product_info > ul li {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

body main .main_bottom .big .big_top .product_info > ul li:hover {
  box-shadow: 0 0 1px 1px red;
}

body main .main_bottom .big .big_top .product_info > ul li:first-child {
  background: url(../image/temp/prosmall01.jpg) no-repeat center/cover;
}

body main .main_bottom .big .big_top .product_info > ul li:nth-child(2) {
  background: url(../image/temp/prosmall02.jpg) no-repeat center/cover;
}

body main .main_bottom .big .big_top .product_info > ul li:nth-child(3) {
  background: url(../image/temp/prosmall03.jpg) no-repeat center/cover;
}

body main .main_bottom .big .big_top .product_info > ul li:nth-child(4) {
  background: url(../image/temp/prosmall04.jpg) no-repeat center/cover;
}

body main .main_bottom .big .big_top .product_info > h6 {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  margin: 20px 0;
}

body main .main_bottom .big .big_top .product_info > h6 span {
  color: #c20000;
}

body main .main_bottom .big .big_top .product_info > div {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #e0e0e0;
}

body main .main_bottom .big .big_top .product_info > div .jiajian {
  width: 150px;
  height: 40px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  line-height: 40px;
}

body main .main_bottom .big .big_top .product_info > div .jiajian .btn_l {
  width: 40px;
  height: 40px;
  background: url(../image/temp/sub.jpg) no-repeat center/cover;
}

body main .main_bottom .big .big_top .product_info > div .jiajian .btn_r {
  width: 40px;
  height: 40px;
  background: url(../image/temp/add.jpg) no-repeat center/cover;
}

body main .main_bottom .big .big_top .product_info > div .jiajian input {
  display: block;
  width: 70px;
  height: 40px;
  border: 0;
  line-height: 40px;
  text-align: center;
}

body main .main_bottom .big .big_top .product_info .shop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 0;
}

body main .main_bottom .big .big_top .product_info .shop a {
  display: block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 20px 0;
}

body main .main_bottom .big .big_top .product_info .shop a:hover {
  font-size: 18px;
}

body main .main_bottom .big .big_top .product_info .shop a:first-child {
  float: left;
  background-color: #c10000;
  color: white;
}

body main .main_bottom .big .big_top .product_info .shop a:nth-child(2) {
  float: right;
  border: 2px solid black;
  color: black;
}

body main .main_bottom .big .big_center {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

body main .main_bottom .big .big_center .allpic {
  width: 70%;
}

body main .main_bottom .big .big_center .allpic ul {
  width: 100%;
  height: 50px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  margin-bottom: 30px;
}

body main .main_bottom .big .big_center .allpic ul li {
  width: 130px;
  height: 46px;
  line-height: 46px;
  text-align: center;
}

body main .main_bottom .big .big_center .allpic ul li:hover {
  border-bottom: 3px solid #c20000;
}

body main .main_bottom .big .big_center .allpic ul li:first-child {
  color: #c20000;
  border-bottom: 3px solid #c20000;
}

body main .main_bottom .big .big_center .allpic ul li a {
  color: black;
  display: block;
  width: 100%;
  height: 100%;
}

body main .main_bottom .big .big_center .allpic img {
  width: 100%;
}

body main .main_bottom .big .big_center .tuijian {
  width: 20%;
}

body main .main_bottom .big .big_center .tuijian h3 {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #d5d5d5;
  margin-bottom: 30px;
  font-weight: 400;
}

body main .main_bottom .big .big_center .tuijian a {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

body main .main_bottom .big .big_center .tuijian a img {
  width: 100%;
}

body main .main_bottom .big .big_center .tuijian a h5 {
  font-weight: 400;
  margin: 20px 0;
  color: black;
}

body main .main_bottom .big .big_center .tuijian a p {
  color: #7c7d7b;
}

body main .main_bottom .big .big_bottom {
  width: 100%;
  position: relative;
}

body main .main_bottom .big .big_bottom h3 {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-weight: 400;
}

body main .main_bottom .big .big_bottom .jiantou_l {
  width: 60px;
  height: 100px;
  position: absolute;
  top: 190px;
  left: -70px;
  background: url(../image/temp/prev.png) no-repeat center/cover;
}

body main .main_bottom .big .big_bottom .jiantou_r {
  width: 60px;
  height: 100px;
  position: absolute;
  top: 190px;
  right: -70px;
  background: url(../image/temp/next.png) no-repeat center/cover;
}

body main .main_bottom .big .big_bottom .box {
  width: 100%;
  overflow: hidden;
}

body main .main_bottom .big .big_bottom .box .big {
  width: 300%;
  display: flex;
  justify-content: space-between;
  animation: move 8s 2s infinite linear;
}

body main .main_bottom .big .big_bottom .box .big:hover {
  animation-play-state: paused;
}

body main .main_bottom .big .big_bottom .box .big .box1 {
  width: 33.33%;
  display: flex;
  justify-content: center;
}

body main .main_bottom .big .big_bottom .box .big .box1 a {
  display: block;
  width: 19%;
  margin-right: 10px;
}

body main .main_bottom .big .big_bottom .box .big .box1 a img {
  width: 100%;
}

body main .main_bottom .big .big_bottom .box .big .box1 a h4 {
  font-weight: 400;
  font-size: 16px;
  margin: 15px 0;
  color: black;
}

body main .main_bottom .big .big_bottom .box .big .box1 a p {
  font-size: 18px;
  color: #c20000;
  margin-bottom: 10px;
}

@keyframes move {
  30% {
    transform: translate(-33.33%);
  }
  50% {
    transform: translate(-33.33%);
  }
  80% {
    transform: translate(-66.66%);
  }
  100% {
    transform: translate(-66.66%);
  }
}
