* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body main {
  width: 100%;
  position: relative;
  top: 100px;
  padding-bottom: 100px;
}

body main .main_top {
  width: 100%;
}

body main .main_top div {
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}

body main .main_top div p {
  width: 80%;
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  color: gray;
}

body main .main_top div p a {
  margin-right: 20px;
  color: gray;
}

body main .main_top div p a:nth-child(2) {
  margin-left: 20px;
}

body main .main_top div p span {
  color: black;
  margin-left: 20px;
}

body main .main_bottom {
  width: 100%;
  background-color: #f6f4f5;
  overflow: hidden;
}

body main .main_bottom .big {
  width: 80%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}

body main .main_bottom .big .big_left {
  width: 20%;
  height: 750px;
  background-color: white;
  border: 2px solid #d6d6d6;
}

body main .main_bottom .big .big_left .head {
  width: 100%;
  border-bottom: 2px solid #c30000;
}

body main .main_bottom .big .big_left .head div {
  width: 120px;
  height: 120px;
  margin: 20px auto;
  border-radius: 60px;
  background: url(../image/duck.jpg) no-repeat center/cover;
}

body main .main_bottom .big .big_left .head p {
  text-align: center;
  margin: 20px 0;
  color: #28557e;
}

body main .main_bottom .big .big_left .head p a {
  color: #28557e;
  margin-left: 10px;
}

body main .main_bottom .big .big_left .tab {
  width: 100%;
}

body main .main_bottom .big .big_left .tab ul {
  width: 100%;
}

body main .main_bottom .big .big_left .tab ul li {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

body main .main_bottom .big .big_left .tab ul li:hover a {
  color: red;
}

body main .main_bottom .big .big_left .tab ul li a {
  width: 100%;
  color: #595959;
}

body main .main_bottom .big .big_left .tab ul li:nth-child(3) a {
  color: red;
}

body main .main_bottom .big .big_left .tab ul p {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

body main .main_bottom .big .big_right {
  width: 75%;
  background-color: white;
  border: 2px solid #d6d6d6;
}

body main .main_bottom .big .big_right .box {
  width: 90%;
  margin: 0 auto;
  padding-top: 50px;
}

body main .main_bottom .big .big_right .box h3 a {
  color: #6b6b6b;
  font-size: 14px;
  font-weight: 400;
  margin-left: 20px;
}

body main .main_bottom .big .big_right .box .fenlei {
  width: 100%;
  display: flex;
  margin: 20px 0;
}

body main .main_bottom .big .big_right .box .fenlei p {
  width: 50%;
  font-size: 17px;
  height: 50px;
  line-height: 50px;
  color: #808080;
}

body main .main_bottom .big .big_right .box .fenlei p:nth-child(2) {
  text-align: right;
  position: relative;
}

body main .main_bottom .big .big_right .box .fenlei p:nth-child(2)::after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  border-left: 2px solid #d5d5d5;
  position: absolute;
  top: 14.5px;
  right: 2px;
  background: url(../image/ds.png) no-repeat center;
  background-size: 80%;
}

body main .main_bottom .big .big_right .box .fenlei p span {
  color: red;
  margin: 0 10px;
}

body main .main_bottom .big .big_right .box .fenlei p a {
  color: #808080;
  margin: 0 20px;
}

body main .main_bottom .big .big_right .box .fenlei p a:hover {
  color: red;
}

body main .main_bottom .big .big_right .box .fenlei p input {
  width: 260px;
  height: 25px;
  border: 2px solid #d5d5d5;
}

body main .main_bottom .big .big_right .box .order1, body main .main_bottom .big .big_right .box .order2, body main .main_bottom .big .big_right .box .order3, body main .main_bottom .big .big_right .box .order4 {
  width: 100%;
  margin: 30px 0 20px 0;
  border: 1px solid #d5d5d5;
}

body main .main_bottom .big .big_right .box .order1 .order_top, body main .main_bottom .big .big_right .box .order2 .order_top, body main .main_bottom .big .big_right .box .order3 .order_top, body main .main_bottom .big .big_right .box .order4 .order_top {
  width: 100%;
  color: #8c8c8c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #8c8c8c;
  overflow: hidden;
}

body main .main_bottom .big .big_right .box .order1 .order_top h4, body main .main_bottom .big .big_right .box .order2 .order_top h4, body main .main_bottom .big .big_right .box .order3 .order_top h4, body main .main_bottom .big .big_right .box .order4 .order_top h4 {
  width: 98%;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  padding-left: 20px;
}

body main .main_bottom .big .big_right .box .order1 .order_top p, body main .main_bottom .big .big_right .box .order2 .order_top p, body main .main_bottom .big .big_right .box .order3 .order_top p, body main .main_bottom .big .big_right .box .order4 .order_top p {
  font-size: 14px;
  margin: 20px 0;
}

body main .main_bottom .big .big_right .box .order1 .order_top p:nth-child(2), body main .main_bottom .big .big_right .box .order2 .order_top p:nth-child(2), body main .main_bottom .big .big_right .box .order3 .order_top p:nth-child(2), body main .main_bottom .big .big_right .box .order4 .order_top p:nth-child(2) {
  width: 68%;
  padding-left: 20px;
}

body main .main_bottom .big .big_right .box .order1 .order_top p:nth-child(3), body main .main_bottom .big .big_right .box .order2 .order_top p:nth-child(3), body main .main_bottom .big .big_right .box .order3 .order_top p:nth-child(3), body main .main_bottom .big .big_right .box .order4 .order_top p:nth-child(3) {
  width: 27%;
  text-align: right;
  padding-right: 20px;
}

body main .main_bottom .big .big_right .box .order1 .order_top p:nth-child(3) span, body main .main_bottom .big .big_right .box .order2 .order_top p:nth-child(3) span, body main .main_bottom .big .big_right .box .order3 .order_top p:nth-child(3) span, body main .main_bottom .big .big_right .box .order4 .order_top p:nth-child(3) span {
  font-size: 16px;
  color: red;
}

body main .main_bottom .big .big_right .box .order1 .order_bottom, body main .main_bottom .big .big_right .box .order2 .order_bottom, body main .main_bottom .big .big_right .box .order3 .order_bottom, body main .main_bottom .big .big_right .box .order4 .order_bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

body main .main_bottom .big .big_right .box .order1 .order_bottom .proimg, body main .main_bottom .big .big_right .box .order2 .order_bottom .proimg, body main .main_bottom .big .big_right .box .order3 .order_bottom .proimg, body main .main_bottom .big .big_right .box .order4 .order_bottom .proimg {
  width: 80px;
  height: 80px;
  margin: 20px 0 20px 20px;
}

body main .main_bottom .big .big_right .box .order1 .order_bottom .proimg img, body main .main_bottom .big .big_right .box .order2 .order_bottom .proimg img, body main .main_bottom .big .big_right .box .order3 .order_bottom .proimg img, body main .main_bottom .big .big_right .box .order4 .order_bottom .proimg img {
  width: 100%;
}

body main .main_bottom .big .big_right .box .order1 .order_bottom .shuoming, body main .main_bottom .big .big_right .box .order2 .order_bottom .shuoming, body main .main_bottom .big .big_right .box .order3 .order_bottom .shuoming, body main .main_bottom .big .big_right .box .order4 .order_bottom .shuoming {
  width: 60%;
  height: 80px;
  margin-top: 20px;
}

body main .main_bottom .big .big_right .box .order1 .order_bottom .shuoming p, body main .main_bottom .big .big_right .box .order2 .order_bottom .shuoming p, body main .main_bottom .big .big_right .box .order3 .order_bottom .shuoming p, body main .main_bottom .big .big_right .box .order4 .order_bottom .shuoming p {
  font-size: 14px;
  margin: 10px 0;
}

body main .main_bottom .big .big_right .box .order1 .order_bottom .pingjia, body main .main_bottom .big .big_right .box .order2 .order_bottom .pingjia, body main .main_bottom .big .big_right .box .order3 .order_bottom .pingjia, body main .main_bottom .big .big_right .box .order4 .order_bottom .pingjia {
  width: 20%;
  height: 80px;
  margin: 20px 20px 20px 0;
}

body main .main_bottom .big .big_right .box .order1 .order_bottom .pingjia a, body main .main_bottom .big .big_right .box .order2 .order_bottom .pingjia a, body main .main_bottom .big .big_right .box .order3 .order_bottom .pingjia a, body main .main_bottom .big .big_right .box .order4 .order_bottom .pingjia a {
  display: block;
  width: 90%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #d5d5d5;
  margin: 0 auto 15px auto;
  color: black;
}

body main .main_bottom .big .big_right .box .order1 .order_bottom .pingjia a:hover, body main .main_bottom .big .big_right .box .order2 .order_bottom .pingjia a:hover, body main .main_bottom .big .big_right .box .order3 .order_bottom .pingjia a:hover, body main .main_bottom .big .big_right .box .order4 .order_bottom .pingjia a:hover {
  background-color: gray;
  color: white;
}

body main .main_bottom .big .big_right .box .order2 .order_top h4, body main .main_bottom .big .big_right .box .order3 .order_top h4 {
  color: red;
}

body main .main_bottom .big .big_right .box .order2 .order_bottom .pingjia a:first-child, body main .main_bottom .big .big_right .box .order3 .order_bottom .pingjia a:first-child {
  background-color: #d40000;
  color: white;
}

body main .main_bottom .big .big_right .box .order2 .order_bottom .pingjia a:first-child:hover, body main .main_bottom .big .big_right .box .order3 .order_bottom .pingjia a:first-child:hover {
  background-color: gray;
  color: black;
}
