body {
  background-color: #f5f5f5;
}

body a {
  color: black;
}

main {
  position: relative;
  top: 100px;
  padding-bottom: 100px;
}

main nav {
  height: 50px;
  border-bottom: 1px solid darkgray;
  border-top: 1px solid darkgray;
}

main nav .icon {
  margin-left: 130px;
  display: flex;
}

main nav .icon .box {
  width: 70px;
  font-size: 15px;
  line-height: 50px;
  text-align: center;
  color: darkgray;
}

main nav .icon span {
  width: 20px;
  display: block;
  line-height: 50px;
  text-align: center;
  color: darkgray;
}

main .container {
  background-color: #f5f5f5;
  display: flex;
  margin-top: 20px;
}

main .container .left {
  background-color: white;
  width: 15%;
  height: 703px;
  margin-left: 150px;
}

main .container .left .head {
  width: 100%;
  border: 1px solid #bcbcbc;
  border-bottom: 1px #bb0000;
  height: 200px;
  margin: 0 auto;
}

main .container .left .head .img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-top: 20px;
  margin-left: 65px;
  background: url(../image/tx.png) no-repeat;
  background-size: 100%;
}

main .container .left .head .font {
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
}

main .container .left .head .font p {
  font-size: 15px;
  width: 80px;
  text-align: center;
  color: black;
}

main .container .left .low {
  border: 1px solid #bcbcbc;
  border-top: 1px solid #bb0000;
  width: 100%;
}

main .container .left .low ul li {
  width: 100%;
  height: 50px;
  font-size: 15px;
  text-align: center;
  line-height: 50px;
}

main .container .left .low ul a:first-child {
  font-weight: bold;
}

main .container .left .low :nth-child(2) {
  color: darkgrey;
}

main .container .left .low :nth-child(2) :hover {
  color: red;
}

main .container .left .low :nth-child(3) {
  color: red;
}

main .container .left .low :nth-child(3) :hover {
  color: red;
}

main .container .left .low :nth-child(4) {
  color: darkgray;
}

main .container .left .low :nth-child(4) :hover {
  color: red;
}

main .container .left .low :nth-child(5) {
  color: black;
  font-weight: bold;
}

main .container .left .low :nth-child(6) {
  color: darkgray;
}

main .container .left .low :nth-child(6) :hover {
  color: red;
}

main .container .left .low :nth-child(7) {
  color: darkgray;
}

main .container .left .low :nth-child(7) :hover {
  color: red;
}

main .container .left .low :nth-child(8) {
  color: black;
  font-weight: bold;
}

main .container .left .low :nth-child(9) {
  color: darkgray;
}

main .container .left .low :nth-child(9) :hover {
  color: red;
}

main .container .left .low :nth-child(10) {
  color: darkgray;
}

main .container .left .low :nth-child(10) :hover {
  color: red;
}

main .container .right {
  width: 60%;
  height: 900px;
  background-color: white;
  padding: 0 50px;
  margin-left: 20px;
}

main .container .right .box:nth-child(1) p {
  word-spacing: 10px;
}

main .container .right .box:nth-child(1) .nav {
  height: 50px;
  padding-top: 50px;
}

main .container .right .box:nth-child(1) .nav strong {
  display: inline-block;
  font-size: 20px;
}

main .container .right .box:nth-child(1) .nav span {
  display: block;
  word-spacing: 10px;
}

main .container .right .box:nth-child(2) {
  border-bottom: 1px solid gray;
}

main .container .right .box:nth-child(2) p {
  font: 15px;
  color: black;
  height: 42px;
  line-height: 42px;
}

main .container .right .box:nth-child(2) .img {
  background: url(../image/g1.jpg);
  background-size: 100px;
  width: 100px;
  height: 100px;
}

main .container .right .box:nth-child(2) span {
  display: block;
  color: darkgrey;
  height: 42px;
  line-height: 42px;
  text-indent: 10px;
}

main .container .right .box:nth-child(3) p {
  font: 15px;
  color: black;
  height: 42px;
  line-height: 42px;
}

main .container .right .box:nth-child(3) span {
  display: block;
  color: darkgrey;
  height: 42px;
  line-height: 42px;
}

main .container .right .box:nth-child(4) p {
  font: 15px;
  color: black;
  height: 56px;
  line-height: 56px;
}

main .container .right .box:nth-child(4) span {
  display: block;
  color: darkgrey;
  height: 56px;
  line-height: 56px;
}

main .container .right .box:nth-child(5) p {
  width: 80px;
  font: 15px;
  height: 42px;
  line-height: 42px;
  color: black;
}

main .container .right .box:nth-child(5) span {
  display: block;
  width: 80px;
  text-align: right;
  color: darkgrey;
  height: 42px;
  line-height: 42px;
}

main .container .right .box {
  width: 95%;
  height: 170px;
  margin: 0 auto;
  background-color: white;
  border-bottom: 1px solid darkgray;
}

main .container .right .box .nav {
  display: flex;
}

main .container .right .box .nav .font {
  color: red;
  line-height: 42px;
}
