body {
  background-color: #f5f5f5;
}

body a {
  color: black;
}

main {
  position: relative;
  top: 117px;
  padding-bottom: 100px;
}

main nav {
  height: 50px;
  border-bottom: 1px solid darkgray;
  border-top: 1px solid darkgray;
  margin-left: 30px;
}

main nav .icon {
  margin-left: 100px;
  display: flex;
}

main nav .icon .box {
  width: 70px;
  font-size: 15px;
  line-height: 50px;
  text-align: center;
  color: darkgray;
}

main nav .icon span {
  width: 20px;
  display: block;
  line-height: 50px;
  text-align: center;
  color: darkgray;
}

main .container1 {
  background-color: #f5f5f5;
  display: flex;
  /* margin-top: 20px; */
}

main .container1 .left {
  background-color: white;
  width: 15%;
  height: 720px;
  margin-left: 150px;
}

main .container1 .left .head {
  width: 100%;
  border: 1px solid #bcbcbc;
  border-bottom: 1px #bb0000;
  height: 200px;
  margin: 0 auto;
}

main .container1 .left .head .img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-top: 20px;
  margin-left: 65px;
  background: url(../image/duck.jpg) no-repeat;
  background-size: 100%;
}

main .container1 .left .head .font {
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
}

main .container1 .left .head .font p {
  font-size: 15px;
  width: 80px;
  text-align: center;
  color: black;
}

main .container1 .left .low {
  border: 1px solid #bcbcbc;
  border-top: 1px solid #bb0000;
  width: 100%;
}

main .container1 .left .low ul li {
  width: 100%;
  height: 50px;
  font-size: 15px;
  text-align: center;
  line-height: 50px;
}

main .container1 .left .low ul a:first-child {
  font-weight: bold;
}

main .container1 .left .low :nth-child(2) {
  color: darkgrey;
}

main .container1 .left .low :nth-child(2) :hover {
  color: red;
}

main .container1 .left .low :nth-child(3) {
  color: darkgray;
}

main .container1 .left .low :nth-child(3) :hover {
  color: red;
}

main .container1 .left .low :nth-child(4) {
  color: red;
}

main .container1 .left .low :nth-child(4) :hover {
  color: red;
}

main .container1 .left .low :nth-child(5) {
  color: black;
  font-weight: bold;
}

main .container1 .left .low :nth-child(6) {
  color: darkgray;
}

main .container1 .left .low :nth-child(6) :hover {
  color: red;
}

main .container1 .left .low :nth-child(7) {
  color: darkgray;
}

main .container1 .left .low :nth-child(7) :hover {
  color: red;
}

main .container1 .left .low :nth-child(8) {
  color: black;
  font-weight: bold;
}

main .container1 .left .low :nth-child(9) {
  color: darkgray;
}

main .container1 .left .low :nth-child(9) :hover {
  color: red;
}

main .container1 .left .low :nth-child(10) {
  color: darkgray;
}

main .container1 .left .low :nth-child(10) :hover {
  color: red;
}

main .right {
  width: 65%;
  height: 700px;
  background-color: white;
  padding: 0 50px;
  margin-left: 20px;
}

main .right h5 {
  font-size: 20px;
  margin-top: 80px;
}

main .right nav {
  border: 0px solid red;
  margin-top: 20px;
}

main .right nav span {
  display: inline-block;
  font-size: 15px;
  line-height: 50px;
  text-indent: 20px;
}

main .right nav a:first-child {
  margin-left: 10px;
  color: red;
}

main .right .content {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

main .right .content .container .btn-primary {
  background-color: red;
  border: 0px;
  margin-left: 50px;
  margin-top: 10px;
}

main .right .content .container textarea {
  width: 100%;
  margin-top: 20px;
}

main .right .content .container .modal-header span {
  display: block;
  font-size: 15px;
  color: black;
  position: absolute;
  top: 60px;
}

main .right .content .container .modal-header :nth-child(3) {
  position: absolute;
  top: 66px;
  left: 80px;
}

main .right .content .container .modal-header :nth-child(4) {
  position: absolute;
  top: 66px;
  left: 105px;
}

main .right .content .container .modal-header :nth-child(5) {
  position: absolute;
  top: 66px;
  left: 130px;
}

main .right .content .container .modal-header :nth-child(6) {
  position: absolute;
  top: 66px;
  left: 155px;
}

main .right .content .container .modal-header :nth-child(7) {
  position: absolute;
  top: 66px;
  left: 180px;
}

main .right .content .container .modal-footer {
  height: 70px;
}

main .right .content .container .modal-footer :first-child {
  position: absolute;
  left: 50px;
  bottom: 10px;
}

main .right .content .container .modal-footer :last-child {
  position: absolute;
  right: 50px;
  bottom: 10px;
}

main .right .content [class*=box] {
  width: 200px;
  height: 300px;
}

main .right .content [class*=box] p {
  font-size: 12px;
  text-align: center;
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

main .right .content [class*=box] span {
  display: block;
  font-size: 10px;
  text-align: center;
  color: darkgray;
  margin-top: 10px;
}

main .right .content [class*=box] input {
  width: 80px;
  height: 35px;
  background-color: #d70000;
  border: 0px;
  color: white;
  font-size: 10px;
  margin-left: 60px;
  margin-top: 10px;
}

main .right .content .box:first-child .img {
  display: block;
  width: 200px;
  height: 200px;
  background: url(../image/id9.jpg);
  background-size: 200px;
}

main .right .content .box:nth-child(2) .img {
  display: block;
  width: 200px;
  height: 200px;
  background: url(../image/id8.jpg);
  background-size: 200px;
}

main .right .content .box:nth-child(3) .img {
  display: block;
  width: 200px;
  height: 200px;
  background: url(../image/id7.jpg);
  background-size: 200px;
}

main .right .content .box:nth-child(3) input {
  background-color: rgba(170, 170, 170, 0.5);
  color: black;
}

main .right .content .box:nth-child(4) .img {
  display: block;
  width: 200px;
  height: 200px;
  background: url(../image/id10.jpg);
  background-size: 200px;
}

main .right .content .box:nth-child(4) input {
  background-color: rgba(170, 170, 170, 0.5);
  color: black;
}
