* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body header #search {
  width: 190px;
}

body main {
  width: 100%;
  position: relative;
  top: 120px;
  padding-bottom: 100px;
}

body main .main_top {
  width: 100%;
}

body main .main_top div {
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}

body main .main_top div p {
  width: 80%;
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  color: gray;
}

body main .main_top div p a {
  margin-right: 20px;
  color: gray;
}

body main .main_top div p a:nth-child(2) {
  margin-left: 20px;
}

body main .main_top div p span {
  color: black;
  margin-left: 20px;
}

body main .main_bottom {
  width: 100%;
  background-color: #f6f4f5;
  overflow: hidden;
}

body main .main_bottom .big {
  width: 80%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}

body main .main_bottom .big .big_left {
  width: 20%;
  height: 750px;
  background-color: white;
  border: 2px solid #d6d6d6;
}

body main .main_bottom .big .big_left .head {
  width: 100%;
  border-bottom: 2px solid #c30000;
}

body main .main_bottom .big .big_left .head div {
  width: 120px;
  height: 120px;
  margin: 20px auto;
  border-radius: 60px;
  background: url(../image/duck.jpg) no-repeat center/cover;
}

body main .main_bottom .big .big_left .head p {
  text-align: center;
  margin: 20px 0;
  color: #28557e;
}

body main .main_bottom .big .big_left .head p a {
  color: #28557e;
  margin-left: 10px;
}

body main .main_bottom .big .big_left .tab {
  width: 100%;
}

body main .main_bottom .big .big_left .tab ul {
  width: 100%;
}

body main .main_bottom .big .big_left .tab ul li {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

body main .main_bottom .big .big_left .tab ul li:hover a {
  color: red;
  text-decoration: none;
}

body main .main_bottom .big .big_left .tab ul li a {
  width: 100%;
  color: #595959;
}

body main .main_bottom .big .big_left .tab ul li:nth-child(3) a {
  color: red;
}

body main .main_bottom .big .big_left .tab ul p {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

body main .main_bottom .big .big_right {
  width: 75%;
  height: 500px;
  background-color: white;
  border: 2px solid #d6d6d6;
}

body main .main_bottom .big .big_right .box {
  width: 90%;
  height: 500px;
  margin: 0 auto;
}

body main .main_bottom .big .big_right .box h3 {
  width: 100%;
  height: 120px;
  line-height: 140px;
  font-size: 17px;
  font-weight: 500;
  border-bottom: 1px solid #d3d3d3;
}

body main .main_bottom .big .big_right .box .info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

body main .main_bottom .big .big_right .box .info .info_left {
  width: 20%;
  height: 330px;
  position: relative;
}

body main .main_bottom .big .big_right .box .info .info_left::before {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  position: absolute;
  top: 130px;
  left: 40px;
  background: url(../image/duck.jpg) no-repeat center/cover;
}

body main .main_bottom .big .big_right .box .info .info_left::after {
  content: "";
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  position: absolute;
  top: 125px;
  left: 35px;
  border: 1px solid #d3d3d3;
}

body main .main_bottom .big .big_right .box .info .info_right {
  width: 75%;
  height: 330px;
}

body main .main_bottom .big .big_right .box .info .info_right .container p {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #d3d3d3;
  color: #828282;
}

body main .main_bottom .big .big_right .box .info .info_right .container p a {
  color: red;
  float: right;
}

body main .main_bottom .big .big_right .box .info .info_right .container p a:hover {
  text-decoration: none;
}

body main .main_bottom .big .big_right .box .info .info_right .container p:first-child {
  color: black;
}

body main .main_bottom .big .big_right .box .info .info_right .container p:nth-child(5) {
  color: black;
}

body main .main_bottom .big .big_right .box .info .info_right .container p .btn {
  float: right;
  height: 30px;
  line-height: 30px;
  border: 0;
  padding: 0;
  color: red;
  background-color: white;
}

body main .main_bottom .big .big_right .box .info .info_right .container p .btn:focus {
  box-shadow: none;
}

body main .main_bottom .big .big_right .box .info .info_right .container .modal-header .modal-title {
  font-size: 16px;
}

body main .main_bottom .big .big_right .box .info .info_right .container .modal-body {
  border-bottom: 0;
}

body main .main_bottom .big .big_right .box .info .info_right .container .modal-body form {
  width: 100%;
}

body main .main_bottom .big .big_right .box .info .info_right .container .modal-body form p {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin: 0;
  color: #828282;
  text-align: left;
  padding-left: 100px;
  border: 0;
  margin-bottom: 10px;
}

body main .main_bottom .big .big_right .box .info .info_right .container .modal-body form p:nth-child(3) input {
  width: 15px;
  height: 15px;
  box-shadow: none;
}

body main .main_bottom .big .big_right .box .info .info_right .container .modal-body form p:nth-child(3) input:nth-child(2) {
  margin-left: 30px;
}

body main .main_bottom .big .big_right .box .info .info_right .container .modal-body form p input {
  width: 60%;
  height: 40px;
  border: 0;
  box-shadow: 0 0 1px 1px #828282;
}

body main .main_bottom .big .big_right .box .info .info_right .container .modal-footer {
  position: relative;
  height: 60px;
}

body main .main_bottom .big .big_right .box .info .info_right .container .modal-footer .btn-secondary {
  margin: 0;
  width: 150px;
  height: 40px;
  background-color: #8b2929;
  position: absolute;
  top: 10px;
  left: 50px;
}

body main .main_bottom .big .big_right .box .info .info_right .container .modal-footer .candle {
  display: block;
  width: 150px;
  height: 40px;
  background-color: white;
  border: 1px solid #d3d3d3;
  position: absolute;
  top: 5px;
  left: 260px;
  border-radius: 5px;
}
