.content {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 10px;
  line-height: 50px;
}

.content .item {
  width: 100px;
  height: 50px;
}

.content .shop {
  float: left;
  text-align: left;
}

.content .continueShop {
  float: right;
  text-align: right;
}

.content .continueShop a {
  color: black;
  text-decoration: underline;
}

.content .center {
  overflow: hidden;
  height: 50px;
}

.content .center .min-item {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
#jiesuan{
  color: black;
}


.content .center .min-item .title:first-child {
  color: red;
}

.content .center .min-item .title:first-child input {
  color: red;
}

.content .center .min-item .title span{
  color: gray;
}

.navigation {
  background-color: #E9E9E9;
  width: 80%;
  margin: 0 auto;
}

.navigation ul {
  display: flex;
  height: 50px;
  line-height: 50px;
  font-size: 15px;
}

.navigation ul li {
  margin-right: 180px;
}

.navigation ul li:first-child {
  margin-left: 188px;
}

.navigation ul li:last-child {
  margin: 0;
}

.goods {
  width: 100%;
}

.goods .goodsList {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed gray;
}

.goods .goodsList:last-child {
  border: none;
}

.goods .goodsList .item {
  width: 180px;
  height: 100%;
  align-items: center;
}

.goods .goodsList .item:first-child {
  display: flex;
}

.goods .goodsList .item .check {
  margin-left: 10px;
}

.goods .goodsList .item .picture {
  padding: 10px;
}

.goods .goodsList .item .picture a {
  margin: 0;
  line-height: 0;
}

.goods .goodsList .item .picture a img {
  width: 100%;
}

.goods .goodsList .item h6 {
  font-size: 12px;
  margin-top: 20px;
}

.goods .goodsList .item p {
  color: gray;
  font-size: 10px;
  margin-top: 20px;
}

.goods .goodsList .item p:last-child {
  margin: 0;
}

.goods .goodsList .item span, .goods .goodsList .item a {
  line-height: 150px;
}

.goods .goodsList .item a {
  color: black;
  text-decoration: solid;
  margin-left: 70px;
}

.goods .goodsList .item:nth-child(4) {
  display: flex;
}

.goods .goodsList .item:nth-child(4) .reduce, .goods .goodsList .item:nth-child(4) .add, .goods .goodsList .item:nth-child(4) .summary {
  margin-top: 65px;
  width: 25px;
  height: 25px;
  text-align: center;
}

.goods .goodsList .item:nth-child(4) .reduce button, .goods .goodsList .item:nth-child(4) .add button, .goods .goodsList .item:nth-child(4) .summary button {
  display: inline-block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid gray;
}

.goods .goodsList .item:nth-child(4) .summary {
  border: none;
}

.goods .settle {
  width: 80%;
  height: 50px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #E9E9E9;
  display: flex;
}

.goods .settle .item {
  width: 50%;
  box-sizing: border-box;
  height: 100%;
  display: flex;
}

.goods .settle .item .min-item {
  width: 50%;
  height: 100%;
  line-height: 50px;
}

.goods .settle .item:last-child .min-item:first-child {
  width: 95%;
}

.goods .settle .item:last-child .min-item:last-child {
  background-color: #8E8E8E;
  text-align: center;
}

.content, .navigation, .goods, footer {
  position: relative;
  top: 100px;
}
