main {
    display: flex;

    .info {
        height: 550px;
        .updateInfo {
            margin: 0 auto;
            margin-top: 20px;

            .content {
                width: 80%;
                margin-left: 60px;
                text-align: left;
                p {
                    margin: 0;
                    margin-top: 20px;
                    span {
                        font-weight: 700;
                    }
                    font {
                        font-size: 15px;
                        color: #777777;
                    }

                    &:nth-child(n+2) {
                        input {
                            display: inline-block;
                            width: 250px;
                        }
                    }

                    button {
                        display: inline-block;
                        width: 100px;
                        margin-left: 160px;
                        background-color: #D60001;
                        color: white;
                        border: none;
                    }
                }

                .prompt {
                    font-size: 10px;
                    color: #777777;
                    margin-left: 160px;
                    margin-top: 10px;
                }
            }
        }
    }
}

a:hover {
    text-decoration: none;
}