*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
// 消除引入模态框对脱离文档流元素的影响
// .modal-open{
//     header{
//         position: relative; 
//     }
//     main{
//         position: relative;
//         top: 3px;
//     }
//     aside{
//         position:relative;
//         top: -668px;
//         left: 1449px;
//     }
// }
body{
    header{
        // 模态框加入影响了这个元素，从写一下
        #search{
            width: 190px;
        }
        // position: relative;
    }
    main{
        width: 100%;
        position: relative;
        top: 120px;
        padding-bottom: 100px;
        // 主体内容上边部分
        .main_top{
            width: 100%;
            div{
                width:100%;
                // height: 50px;
                border-bottom: 1px solid #e0e0e0;
                p{
                    width: 80%;
                    margin: 0 auto;
                    height: 40px;
                    line-height: 40px;
                    color: gray;
                    a{
                        margin-right: 20px;
                        color: gray;
                        &:nth-child(2){
                            margin-left: 20px;
                        }
                    }
                    span{
                            color: black;
                            margin-left: 20px;
                    }
                }
            }
        }
        .main_bottom{
            width: 100%;
            background-color: #f6f4f5;
            overflow: hidden;
            // 内容大盒子
            .big{
                width: 80%;
                margin: 30px auto;
                display: flex;
                justify-content: space-between;
                // 左边导航栏
                .big_left{
                    width: 20%;
                    height: 750px;
                    background-color: white;
                    border: 2px solid #d6d6d6;
                    // 头像部分
                    .head{
                        width: 100%;
                        border-bottom: 2px solid #c30000;
                        div{
                            width: 120px;
                            height: 120px;
                            // border: 1px solid red;
                            margin: 20px auto;
                            border-radius: 60px;
                            background: url(../image/duck.jpg) no-repeat center/cover;
                            
                        }
                        p{
                            text-align: center;
                            margin: 20px 0;
                            color: #28557e;
                            a{
                                color: #28557e;
                                margin-left: 10px;
                            }
                        }
                    }
                    // 导航部分
                    .tab{
                        width: 100%;
                        ul{
                            width: 100%;
                            li{
                                width: 100%;
                                height: 50px;
                                text-align: center;
                                line-height: 50px;
                                &:hover{
                                    a{
                                        color: red;
                                        text-decoration: none;
                                    }
                                }
                                a{
                                    width: 100%;
                                    color: #595959;
                                }
                                &:nth-child(3){
                                    a{
                                        color: red;
                                    }
                                }
                            }
                            p{
                                width: 100%;
                                height: 60px;
                                line-height: 60px;
                                font-size: 18px;
                                font-weight: bold;
                                text-align: center;
                                margin: 0;
                            }
                        }
                    }
                }
                // 右边内容栏
                .big_right{
                    width: 75%;
                    height: 500px;
                    background-color: white;
                    border: 2px solid #d6d6d6;
                    .box{
                        width: 90%;
                        height: 500px;
                        margin: 0 auto;
                        // background-color: aquamarine;
                        h3{
                            width: 100%;
                            height: 120px;
                            line-height: 140px;
                            font-size: 17px;
                            font-weight: 500;
                            border-bottom: 1px solid #d3d3d3;
                        }
                        // 用户信息部分
                        .info{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            .info_left{
                                width: 20%;
                                height: 330px;
                                position: relative;
                                // background-color: pink;
                                &::before{
                                    content: "";
                                    display: block;
                                    width: 80px;
                                    height: 80px;
                                    border-radius: 40px;
                                    position: absolute;
                                    top: 130px;
                                    left: 40px;
                                    background: url(../image/duck.jpg) no-repeat center/cover;
                                }
                                &::after{
                                    content: "";
                                    display: block;
                                    width: 90px;
                                    height: 90px;
                                    border-radius: 50px;
                                    position: absolute;
                                    top: 125px;
                                    left: 35px;
                                    border: 1px solid #d3d3d3;
                                }
                            }
                            .info_right{
                                width: 75%;
                                height: 330px;
                                // background-color: aquamarine;
                                .container{
                                    p{
                                        width: 100%;
                                        height: 40px;
                                        border-bottom: 1px solid #d3d3d3;
                                        color: #828282;
                                        a{
                                            color: red;
                                            float: right;
                                            &:hover{
                                                text-decoration: none;
                                            }
                                        }
                                        &:first-child{
                                            color: black;
                                        }
                                        &:nth-child(5){
                                            color: black;
                                        }
                                        // 模态框点击按钮
                                        .btn{
                                            float: right;
                                            height: 30px;
                                            line-height: 30px;
                                            border: 0;
                                            padding: 0;
                                            color: red;
                                            background-color: white;
                                            &:focus{
                                                box-shadow: none;
                                            }
                                        }
                                    }
                                    // 模态框头部
                                    .modal-header{
                                        .modal-title{
                                            font-size: 16px;
                                        }
                                    }
                                    // 模态框主体内容
                                    .modal-body{
                                        border-bottom: 0;
                                        form{
                                            width: 100%;
                                            p{
                                                width: 100%;
                                                height: 60px;
                                                line-height: 60px;
                                                text-align: center;
                                                margin: 0;
                                                color: #828282;
                                                text-align: left;
                                                padding-left: 100px;
                                                border: 0;
                                                // background-color: pink;
                                                margin-bottom: 10px;
                                                &:nth-child(3){
                                                    input{
                                                        width: 15px;
                                                        height: 15px;
                                                        box-shadow: none;
                                                        // margin-top: 60px;
                                                        &:nth-child(2){
                                                            margin-left: 30px;
                                                            
                                                        }
                                                    }
                                                }
                                                input{
                                                    width: 60%;
                                                    height: 40px;
                                                    border: 0;
                                                    box-shadow: 0 0 1px 1px #828282;
                                                }
                                            }
                                        }
                                    }
                                    // 模态框底部
                                    .modal-footer{
                                        position: relative;
                                        height: 60px;
                                        .btn-secondary{
                                            margin: 0;
                                            width: 150px;
                                            height: 40px;
                                            background-color: rgb(139, 41, 41);
                                            position: absolute;
                                            top: 10px;
                                            left: 50px;
                                        }
                                        .candle{
                                            display: block;
                                            width: 150px;
                                            height: 40px;
                                            background-color: white;
                                            border: 1px solid #d3d3d3;
                                            position: absolute;
                                            top: 5px;
                                            left: 260px;
                                            border-radius: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}