* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header {
    width: 100%;
    height: 90px;
    position: fixed;
    background-color: #2d2466;
    z-index: 2;
}

.logo {
    width: 370px;
    height: 100%;
    position: absolute;
    left: 85px;
}

.logo img {
    height: 100%;
}

.right-menu {
    width: 700px;
    height: 100%;
    position: absolute;
    right: 70px;
    top: 0;
}

.right-menu input {
    display: inline-block;
    width: 135px;
    height: 32px;
    margin-top: 25px;
    outline: none;
}

.right-menu input:focus {
    border-radius: 5px;
    border: 2px solid black;
}

.right-menu ul li {
    height: 100%;
    float: left;
    margin-left: 30px;
}

.right-menu ul li a {
    line-height: 90px;
    color: white;
}

.right-menu ul li a:hover {
    color: #99c8fd;
}

.search-wrap {
    width: 160px;
    border: 1px solid blue;
    height: 60px;
    color: white;
}

.banner {
    width: 100%;
    padding-top: 120px;
    background: url(../image/pursebg.png) no-repeat;
    background-size: cover;
    z-index: -1;
}

.content {
    position: relative;
    width: 1220px;
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 5px;
}

.left-list {
    width: 240px;
    height: 440px;
    /* border: 1px solid green; */
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(51, 51, 102, 0.5);
    position: relative;
}

.backgroundImg {
    width: 978px;
    height: 440px;
    position: absolute;
    left: 240px;
    top: 0px;
    background: url(../image/PBET7.5_home.png) no-repeat center/cover;
    z-index: 0;
}

.left-list ul {
    text-align: center;
}

.left-list ul li {
    line-height: 45px;
    border-bottom: 1px solid #6e6b7d;
    color: white;
}

.left-list ul li i {
    position: absolute;
    right: 20px;
    bottom: 15px;
}

.left-list ul li a {
    color: white;
    font-size: 15px;
}

.hiddenList {
    width: 515px;
    height: 440px;
    border: 1px solid red;
    position: absolute;
    top: 0;
    left: 240px;
    border-radius: 5px;
    background-color: rgba(51, 51, 102, 0.8);
    display: none;
    z-index: 1;
}

.left-list ul li:hover .hiddenList {
    display: block;
}

.phase-box {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
}

.one-phase {
    border-top: 1px solid white;
    margin-top: 25px;
    position: relative;
    color: #fff;
    padding: 20px 20px 0 10px;
}

.phase-title {
    position: absolute;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    top: -13px;
    left: 10px;
    background-color: #ffffff;
    font-size: 15px;
}

.phase-board {
    overflow: hidden;
}

.course-phase-title {
    float: left;
    padding: 5px 10px;
}


.phase-board ul li a {
    text-decoration: none;
    color: #f6f6f6;
}

.phase-board ul li {
    float: left;
    margin-left: 20px;
}

.servercePage {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 100%;
}

.servicePackagebg {
    display: block;
    cursor: pointer;
    width: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    /* border: 1px solid blue; */
}

.listHeader {
    width: 100%;
    overflow: hidden;
}

.listHeader p {
    font-size: 26px;
    display: block;
    float: left;
}

.listHeader ul li {
    float: left;
    margin-left: 30px;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    margin-top: 10px;
}

.listHeader ul li:hover {
    border-bottom: 2px solid #000;
}

.listHeader ul li:hover a {
    color: #555;
}

.listHeader ul li a {
    color: #282828;
}

.item {
    width: 100%;
    overflow: hidden;
}

.item .video:last-child {
    margin: 20px 0 0 0;
}

.video-list {
    width: 100%;
}


.video {
    box-sizing: border-box;
    width: 16%;
    /* border: 1px solid aqua; */
    margin-right: 5%;
    float: left;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px gray;
}

.video:last-child {
    margin: 20px 0 0 0;
}

.video .image {
    width: 100%;
}

.video .image img {
    width: 100%;
    border-radius: 10px;
}

.video .introduce {
    width: 100%;
}

.video .courseName {
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.video .courseIntroduce {
    color: #999999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    margin-top: 10px;
}

.video .courseName {
    color: #000;
    font-size: 16px;
}

.video-list .video .live {
    width: 100%;
    margin-top: 10px;
}

.video p {
    color: #999999;
    font-size: 14px;
}

.video .live .fontColor {
    color: red;
}

.video .live .fontColor.price {
    margin-left: 65px;
}

.teacher {
    width: 100%;
}

.teacher {
    width: 100%;
    position: relative;
}

.teacherPhoto {
    margin-top: 10px;
    width: 50px;
    height: 50px;
}

.teacherPhoto img {
    width: 100%;
    border-radius: 50%;
    margin-top: 10px;
}

.teacherName,
i,
.teacher span {
    display: block;
    position: absolute;
    color: #999999;
    top: 20px;
}

.teacherName {
    left: 55px;
}

.teacher i {
    left: 140px;
}

.teacher .viewCount {
    left: 165px;
}

.teacherList {
    width: 90%;
    height: 253px;
    /* border: 1px solid red; */
    margin: 0 auto;
    overflow: hidden;
    margin-top: 50px;
}

.photos {
    width: 16%;
    /* border: 1px solid blue; */
    text-align: center;
    margin-right: 0%;
    box-sizing: border-box;
    overflow: hidden;
    display: inline-block;
}

.photos img {
    width: 100%;
    height: 160px;
    margin-left: 5%;
    border-radius: 6px;
}

.photos h4 {
    font-size: 18px;
    margin: 20px 0 15px 0;
}

.photos h5 {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
}

@keyframes moveLeft {
    0% {
		transform:translatex(0);
	}
	12.5% {
		transform:translatex(0);
	}
	25% {
		transform:translatex(-25%);
	}
	37.5% {
		transform:translatex(-37.5%);
	}
	50% {
		transform:translatex(-60%);
	}
	62.5% {
		transform:translatex(-60%);
	}
	75% {
		transform:translatex(-90%);
	}
	87.5% {
		transform:translatex(-100%);
	}
	100% {
		transform:translatex(-100%);
	}
}

.teacherList {
    animation: moveLeft 3s linear infinite;
}

.footer {
    width: 100%;
    background-color: #292c3b;
    border: 1px solid red;
    height: 500px;
    margin-top: 50px;
    overflow: hidden;
}

.footer-header,.footer-content {
    width: 90%;
    margin: 0 auto;
}

.footer-header {
    border: none;
    border-bottom: 1px solid #6a6c76;
    height: 100px;
}

.footer-header ul li {
    color: #7f807d;
    float: left;
    margin-left: 90px;
    line-height: 100px;  
    font-weight: bold;
}
.footer-header ul li:hover {
    color: white;  
}

.footer-content {
    margin-top: 50px;
    overflow: hidden;
}

.footer-content .item {
    float: left;
    margin-left: 5%;
    height: 250px;
    width: 20%;
    margin-top: 20px;
    box-sizing: border-box;
} 

 .contact {
    margin-top: 10px;
    font-size: 15px;
    color: #f6f6f6;
}
.footer-content .item .title, .c1 span{
    font-weight: bolder;
    color: #f6f6f6;
    font-size: 20px;
}



.footer-content .item .link {
    font-size: 15px;
    margin-top: 10px;
}

.footer-content .item .link a {
    color: #f6f6f6;
}

.footer-content .item div {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.footer-content .item div a {
    color: #f6f6f6;
}

.footer-content .item .qrcode {
    margin-top: 30px;
    width: 100%;
}

.footer-content .item .qrcode img {
    width: 100%;
    height: 182px;
}

.register {
    color: #f6f6f6;
    width: 90%;
    height: 100px;
    margin: 0 auto;
    margin-top: 20px;
    border-top: 1px solid #6a6c76;
    position: relative;
    font-size: 12px;
    line-height: 50px;
}

.copyright{
    text-align: center;
    width: 500px;
    height: 100%;
    position: absolute;
    left: 375px;
    top: 0px;
}

.license {
    width: 200px;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
}

.ask {
    position: fixed;
    top: 200px;
    right: 0;
}

.op {
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: #6699cc;
}

#onLine span {
    display: block;
}

.op:nth-child(2) {
    margin-top: 5px;
    margin-bottom: 5px;
}

.op span {
    background-color: #6699cc;
    font-size: 10px;
    color: #f6f6f6;
}

.wechat img{
    width: 90%;
    height: 90%;
    margin-top: 2px;
}



