.header {
    width: 100%;
    height: 50px;
    border: 1px solid red;
    background-color: black;
}

.logo {
    width: 150px;
    height: 100%;
    margin-left: 20px;
    float: left;
}

.logo img {
    height: 100%;
}

.header .right-menu {
    width: 730px;
    height: 100%;
    float: right;
}

.header .right-menu ul {
    list-style: none;
}

.header .right-menu ul li{
    float: left;
    font-size: 15px;
}

.header .right-menu ul li a {
    color: gray;
    padding-left: 20px;
}

.main {
    width: 100%;
    height: 404px;
    border: 1px solid red;
    background-image: url(../image/下载.png);
    background-size: cover;
}

.center {
    width: 745px;
    height: 300px;
    border: 1px solid blue;
    margin: 0 auto;
    margin-top: 50px;
    overflow: hidden;
}

.center .image {
    width: 405px;
    height: 50px;
    margin: 0 auto;
    border: 1px solid red;
    margin-top: 40px;
}

.center .image img{
   height: 100%;
   width: 100%;
}
