.header {
    width: 100%;
    height: 75px;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
}

.header .item.logo {
    width: 365px;
    height: 50px;
    margin-left:80px; 
    margin-top:10px;
    /* border: 1px solid blue;    */
}

.header .item.right {
    flex-grow: 1;
    /* border: 1px solid green; */
    float: left;
    margin: 5px 0 5px 100px;
    display: flex;
    flex-wrap: wrap;
}

.header .item.right .header-search {
    float: left;
    width: 390px;
    /* border: 1px solid red; */
}

.search-input {
    color: #333;
    margin-top: 10px;
    padding: 4px 10px;
    height: 30px;
    line-height: 20px;
    float: left;
    width: 80%;
    font-size: 14px;
    border: 1px white #efefef;
}

.search-input:focus {
    outline: 1px dashed black;
    border: 1px solid #3b99fc;
}

#search-btn {
    float: left;
    width: 42px;
    height: 42px;
    line-height: 30px;
    padding: 0;
    border: 0;
    align-content: center;
    background-color: #3b99fc;
    list-style: none;
    margin-top: 10px;
}

#search-icon {
    /* height: 30px;
    width: 30px; */
    align-content: center;
    font-size: 25px;
    line-height: 42px;
    color: white;
    padding-left: 10px;
    float: left;
    text-align: center;
}

.header ul {
    list-style: none;
    padding: 0 auto;
    margin: 0;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.header ul li {
    text-align: center;
    font-size: 14px;
    border-right: 1px solid #3b99fc;
    padding-right: 10px;
}

ul li:last-child {
    border: none;
    padding-left: 10px;
}

.header ul li:nth-child(2) {
    padding-left: 10px;
}

.header ul li:nth-child(3) {
    padding-left: 10px;
}

.header ul li a {
    color: #3b99fc;
}

.directions {
    width: 980px;
    min-width: 620px;
    height: 32px;
    line-height: 32px;
    border: 0;
    list-style: none;
    margin: 0 auto;
    font-size: 12px;
    font-family: "宋体";
}

.directions a {
    color: black;
}

.navigation {
    width: 100%;
    height: 40px;
    background-color: #3b99fc;
}

.navigation ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 auto;
    margin: 0 auto;
    align-content: center;
    list-style: none;
    justify-content: space-evenly;
}

.navigation ul li {
    width: 12.5%;
    text-align: center;
    line-height: 40px;
    color: white;
}

.navigation ul li:hover {
    background-color: blue;
}